.stack-work/
outputs/*
dist-newstyle
fourmolu.yaml
.DS_Store
.venv
testdata/.mscbackup/
.DS_Store
*.lock
__pycache__
*~
*.aux
*.log
*.prof
*.hp
*.prof.html
*.ps
*.eventlog
*.tex
*.pdf
*.musicxml
*.txt
